# Python
*.pyc

# Deflectometry data
*.binp
*.bpro

# PyTorch
*.pt
*.pth

# NumPy
*.npy
*.npz

# Archives
*.zip
*.tar.gz
*.tgz

# Images
*.jpeg
*.jpg
*.png
*.gif

# Misc
*.pdf

# Experimental log data
/Results/
/OldResults/
/results/
/configs/
