# Python
*.pyc

# PyTorch
*.pt
*.pth

# NumPy
*.npy
*.npz

# Archives
*.zip
*.tar.gz
*.tgz

# Images
*.jpeg
*.jpg
*.png
*.gif

# Misc
*.pdf
*.lnk

# Experimental log data
/Results/
/OldResults/
/results/
/configs/
